<h1>Make your form here</h1>
<form>
  <input method="POST" action="/pirates">
  Name: <input type="text" name="name" value="Name">
  Height: <input type="integer" name="height" value="Height">
  Weight: <input type="integer" name="weight" value="Weight">
  <input type="submit" id="submit" value="Submit">
</form>
